.rightPanel {
  float: left;
  display: inline-block;
  padding: 5px;
}

.leftPanel {
  float: left;
  display: inline-block;
  padding: 5px;
  overflow: auto;
}

.detailWrap {
  word-wrap: break-word;
}

.detailBlock {
  padding: 5px;
}

