.rightPanel {
  float: left;
  display: inline-block;
  padding: 5px;
}

.leftPanel {
  float: left;
  display: inline-block;
  padding: 5px;
  overflow: auto;
}

.collapsePanelTitle {
  width: 100%;
  min-height: 24px !important; /* override blueprint button height */
  margin-bottom: 5px;
}

.detailWrap {
  word-wrap: break-word;
}

.detailBlock {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

